@import url("home.css");

#cmd-line {
	width: 90%;
	height: 75%;
	margin: 0 auto;
	margin-top: 10px;
	white-space: pre;
	overflow-x: auto;
	border-radius: 3.5px;
	color: var(--white-smoke);
	background-color: var(--bg-color); 
	border: 1px solid var(--white-smoke);
}

#cmd-input, #console {
	outline: none;
	margin-top: 2%;
	margin-left: 5%;
	padding: 5px 0.7%;
	text-align: center;
	border-radius: 2.5px;
	font-family: inconsolata;
	color: var(--white-smoke);
	background-color: var(--bg-color);
	border: 1px solid var(--white-smoke);
}

#cmd-input:focus, #console:focus {
	text-align: left;
}

#cmd-line, #cmd-input, #console {
	font-size: 14px;
	font-family: inconsolata;
}

#cmd-load, #console-load {
	width: 80px;
	height: 80px;
	display: none;
	margin-left: 4%;
}

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-thumb
{
  background-color: var(--white-smoke);
}