@import url('main.css');

.table-container {
    padding-left: 1px !important;
    height: 176px;
    overflow-y: scroll;
    border: solid 3px var(--hd-color);
}

table {
    width: 100%;
    margin: auto;
    font-size: 11.8px;
    table-layout: fixed;
    font-family: comfortaa;
    background-color: var(--hd-color) !important;
}

table th {
    padding: 0.7%;
    font-size: 11px;
    background-color: var(--bg-color);
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}

.status-row {
    margin-right: 10px;
}

.status-value {
    font-family: rich;
    margin-left: 5px;
    color: var(--warning);
}

#server-control-section {
    height: 145px;
    text-align: center;
    padding: 0.1em 0.3em;
    background-color: var(--hd-color);
}

#server-config-section {
    width: 80%;
    margin: 15px auto;
}

#server-config-section input {
    font-family: rich;
    text-align: center;
    line-height: 2;
    width: 142px;
    border-radius: 3px;
    border: none;
    outline: none;
}

#server-control-section button,
#server-config-section input {
    font-size: 14px;
}

#server-config-section input:disabled {
    background-color: #f9f9f9;
}

.console {
    border: 1px solid var(--hd-color);
    background-color: var(--hd-color);
}
.console-display {
    margin: 10px 0.5em;
    height: 406px;
    border: 1px solid #fff;
    background-color: var(--bg-color);
    padding: 5px 0.7%;
    font-family: inconsolata;
    overflow-y: auto;
}
.console-input-container {
    width: 100%;
    display: block;
}
.console-input-container span:first-child::before {
    content: var(--console-input-sym);
}

#console-input {
    width: 91%;
    color: #fff;
    background-color: transparent;
    outline: none;
    cursor: default;
    border: none;
}

.console-output-input-cmd,
#console-input.disabled-console-input,
.disabled-console-input span:first-child::before {
    color: var(--console-input-disabled-color);
}

#console-output {
    white-space: pre;
    line-height: 1.3;
}

.console-output-input-cmd::before {
    content: var(--console-input-sym);
}

.console-output-input-cmd::before,
.console-input-container span:first-child::before {
    font-weight: bold;
}

.console-output-output {
    margin-top: 12px;
    display: block;
}

#info-display {
    height: 469px;
    overflow-y: auto;
    background-color: var(--hd-color);
    padding: 0.5em 5px;
    padding-top: 0.7em;
}
.info-section {
    margin-bottom: 1em;
}
.info-section:first-child {
    margin-top: 0.2em;
}
.info-section:last-child {
    margin-bottom: 0.6em;
}
.info-section-title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    display: block;
}
.info-row {
    margin-top: 0;
    margin-left: 1.3em;
    display: block;
    line-height: 1.4;
}
.info-row-title {
    font-weight: 600;
    font-size: 13.8px;
}
.info-row-title::after {
    content: ' : ';
    font-size: 15px;
    font-family: rich;
}
.info-row-value {
    padding-left: 3px;
    color: var(--warning);
    font-size: 13px;
}
