<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="utf-8">
		
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
		<link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
		<script type="text/javascript" src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
		{% block links %}{% endblock %}
		<title>{% block title %}{% endblock %}</title>	
	</head>
	<body>	
		<div class="nav">
		  <div class="nav-header">
		    <div class="nav-title">
		      <img src="/static/img/favicon.png" width=32 height=32>
		      <span style="font-family: rich;">Loki</span>
		    </div>
		  </div>
		  <div class="nav-btn">
		    <label for="nav-check">
		      <span></span>
		      <span></span>
		      <span></span>
		    </label>
		  </div>
		  <input type="checkbox" id="nav-check">
		  <div class="nav-links">
		  	<a href="{{ url_for('index') }}">Home</a>
		  	<a href="{{ url_for('settings') }}">Settings</a>
		    <a href="{{ url_for('logout') }}"><span style="color: var(--hot-red);">Logout</span></a>
		  </div>
		</div>
		{% if session.status != None %}
			<a href="{{ url_for('settings') }}" style="text-decoration: none;"><p id="notice">{{ session.status }}</p></a>
		{% endif %}

		{% block content %}
		{% endblock %}
	</body>
</html>