{% extends "base.html" %}

		{% block links %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/intel.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/intel.js') }}"></script>
		{% endblock %}
	
	{% block title %} Intelligence {% endblock %}
		
				{% block header %}						
				<li><a href="{{ url_for('index') }}"><button id="home">Home</button></a></li>
				<li><a href="{{ url_for('account_settings') }}"><button id="settings">Settings</button></a></li>
				<li><a href="{{ url_for('logout') }}"><button id="logout">Logout</button></a></li>
				{% endblock %}
			
				{% block tabs %}
				<li onclick="intels()"><div class="selected">Intels</div></li>
				<li onclick="location.href='/control?id={{ bot_id }}'"><div>Controls</div></li>
				{% endblock %}
		
		{% block content %}
		<div id="display"></div>			
		{% endblock %}