{% extends "base.html" %}
		
		{% block links %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/server.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/settings.css') }}">
		{% endblock %}
		{% block title %}Settings{% endblock %}
	
				{% block header %}
				<li><a href="{{ url_for('index') }}"><button id="home">Home</button></a></li>
				<li><a href="{{ url_for('account_settings') }}"><button id="settings" class="selected">Settings</button></a></li>
				<li><a href="{{ url_for('logout') }}"><button id="logout">Logout</button></a></li>
				{% endblock %}

				{% block tabs %}
				<a href="/settings/account"><li><div>Account</div></li></a>
				<a href="/settings/server"><li><div class="selected">Server</div></li></a>
				{% endblock %}

		{% block content %}
		<div id="display"></div>
		{% endblock %}
